







/*********
 Gameboard
 *********/

.gameBoard {
    display: flex;
    justify-content: center;
    margin-top: 155px;
}

.box {
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:hover {
    background-color: rgba(5, 152, 235, .6)
}

.interface {
    display: flex;
    justify-content: center;
    font-size: .8em;
    margin: 10px;
}

input {
    margin-left: 10px;
}